{% extends "layout.html" %}

{% block css %}
	<!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{% block js %}
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="static/js/echarts.min.js"></script>
	<script src="static/js/action.js"></script>
{% endblock %}

{% block body %}
<section class="p-xs-y-8 border-t border-b bg-soft">
	<div class="container-fluid">
		<div class="row">
			<!-- <div class="col-lg-2" ></div> -->
			<div class="col-lg-12" style="text-align:center">
				<div id="main" style="width: 1500px; height: 800px; margin:0px auto;"></div>
			</div>
			<!-- <div class="col-lg-2" ></div> -->
			<div class="center" style="text-align:center;">
				<input class="btn btn-primary" type="button" value="start" onclick="onstart()">
				<input class="btn btn-primary" type="button" value="stop" onclick="onstop()">
			</div>
			
		</div>
	</div>
	</section>
	<section class="p-xs-y-8 border-b bg-light">
            <div class="container text-center">
                
            </div>
        </section>
{% endblock %}