{% extends "layout.html" %}

{% block css %}
<!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/customize.css">
{% endblock %}

{% block js %}
{% endblock %}

{% block body %}
        <section class="p-xs-y-8 border-t border-b bg-soft">
            <div class="container">
                <h1 class="constrain text-jumbo text-center m-xs-b-6">
                    Problem Description
                </h1>
                <div class="row">
                    <!-- <div class="col-md-1"></div> -->
                    <div class="col-md-12">
                        <div class="p-xs-b-6 p-md-y-6 p-lg-x-8 text-l">
                            <p class="m-xs-t-6" style="padding-top: 100px;">
                                Here is some text to descible the problem.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-xs-y-8 border-t border-b bg-light">
            <div class="container">
                <h1 class="constrain text-jumbo text-center m-xs-b-6">
                    Our Solution
                </h1>
                <div class="row">
                    <!-- <div class="col-md-1"></div> -->
                    <div class="col-md-12">
                        <div class="p-xs-b-6 p-md-y-6 p-lg-x-8 text-l">
                            <p class="m-xs-t-6" style="padding-top: 100px;">
                                Here is some text to descible the problem.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-xs-y-8 border-t border-b bg-soft">
            <div class="container">
                <h1 class="constrain text-jumbo text-center m-xs-b-6">
                    Sign of Body
                </h1>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <div class="p-xs-b-6 p-md-y-6 p-lg-x-8 text-l">
                            <ul class="feature-list">
                                <li>Blood Pressure</li>
                                <li>Blood Glucose</li>
                                <li>Heart Rate</li>
                                <li>Breathing Rate</li>
                                <li>Temperature</li>
                                <li>Pulse</li>
                                <li>...</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 p-xs-t-6">
                        <img src="/static/img/heartbeat.png" style="width: 200px">
                    </div>
                    <div class="col-md-3 p-xs-t-6">
                        <img src="/static/img/temperate.png" style="height: 200px">
                    </div>
                </div>
            </div>
        </section>
        <section class="p-xs-y-8 border-t border-b bg-light">
            <div class="container">
                <h1 class="constrain text-jumbo text-center m-xs-b-6">
                    Receive from a device
                </h1>
                <div class="row">
                    <!-- <div class="col-md-1"></div> -->
                    <div class="col-md-5">
                        <div class="p-xs-b-6 p-md-y-6 p-lg-x-8 text-l">
                            <p class="m-xs-t-6" style="padding-top: 100px;">
                                We are receiving some data from the bracelet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="p-xs-y-8 border-b bg-soft">
            <div class="container">
                <h1 class="constrain text-jumbo text-center m-xs-b-6">
                    Do the Classification
                </h1>
                <div class="row">
                    <!-- <div class="col-md-1"></div> -->
                    <div class="col-md-5">
                        <div class="p-xs-b-6 p-md-y-6 p-lg-x-8 text-l">
                            <p class="m-xs-t-6" style="padding-top: 100px;">
                                
                                Time to judge whether the swimmer is in danger(drowning) or not. Actually it is an classification problem. To visualize the classification, I pick two of the features and plot them.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7 p-xs-t-6">
                        <img src="/static/img/scatter.png" style="width: 600px">
                    </div>
                </div>
            </div>
        </section>

        <section class="p-xs-y-8 border-b bg-soft">
            <div class="container">
                <h1 class="constrain text-jumbo text-center m-xs-b-6">
                    Algorithm
                </h1>
                <div class="row">
                    <!-- <div class="col-md-1"></div> -->
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6 p-xs-t-6">
                        <p style="padding-top: 100px;">
                                Powerful data analysis.
                            </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="p-xs-y-8 border-t border-b bg-light">
            <div class="container">
                <h1 class="constrain text-jumbo text-center m-xs-b-6">
                    Display on the screen or notify the rescue worker.
                </h1>
            </div>
        </section>

        <section class="p-xs-y-8 border-b bg-soft">
            <div class="container">
                <h3 class="constrain text-jumbo text-center m-xs-b-6">
                    Feature we picked up
                </h3>
                <div class="row">
                    <div class="col-md-12">
                        <!-- <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>body_temperature</th>
                                    <th>blood_pressure</th>
                                    <th>heart_rate</th>
                                    <th>breathing_rate</th>
                                    <th>vertical_speed</th>
                                    <th>horizontal_speed</th>
                                    <th>drowning</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><th>1</th><td>37.2</td><td>110</td><td>102.1</td><td>12.2</td><td>1.0</td><td>0.9</td><td>True</td></tr>
                                <tr><th>2</th><td>36.9</td><td>92</td><td>108.3</td><td>9.8</td><td>1.1</td><td>0.5</td><td>True</td></tr>
                                <tr><th>3</th><td>37.3</td><td>129</td><td>60.5</td><td>12.5</td><td>3.2</td><td>0.2</td><td>False</td></tr>
                                <tr><th>4</th><td>37.2</td><td>124</td><td>74.7</td><td>18</td><td>2.4</td><td>0.8</td><td>False</td></tr>
                                <tr><th>5</th><td>36.4</td><td>102</td><td>69</td><td>1.3</td><td>0.1</td><td>0.2</td><td>False</td></tr>
                                <tr><th>6</th><td>37.1</td><td>128</td><td>65</td><td>13.3</td><td>0.6</td><td>0.5</td><td>False</td></tr>
                            </tbody>
                        </table> -->
                        <img src="/static/img/table_data.png" style="width: 1100px">
                    </div>
                </div>
            </div>
        </section>

        <section class="p-xs-y-8 border-b bg-light">
            <div class="container">
                <h3 class="constrain text-jumbo text-center m-xs-b-6">
                    Training Result
                </h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="p-xs-b-6 p-md-y-6 p-lg-x-8">
                            <p class="m-xs-b-4">
                                We have collected about 10 thousand samples, to train the classifier. And finally the accuracy is about a little bit more than 90%.
                            </p>
                            <p>
                                Not so high, because of too few samples and too less time to optimize the algorithm. Hope it is high enough for the demo.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/static/img/machine_learning.jpg" class="img-fit">
                    </div>
                </div>
            </div>
        </section>

        <section class="p-xs-y-8 border-b bg-light">
            <div class="container text-center">
                <h3 class="text-xl m-xs-b-6">
                    Ready to get started?
                </h3>
                <div>
                    <a href="/demo" class="btn btn-lg btn-primary">
                        Go to Demo!
                    </a>
                </div>
            </div>
        </section>
{% endblock %}